
// Global default parameters
params {
  pipeline_info = "./results/pipeline_info" //can be overwritten at run-time e.g. --pipeline_info dirname

  samplesheet = null
  outdir = "./results"

  // Reference files
  fasta = null
  gtf = null
  star_index = null
  save_reference = false

  // Strandedness
  strandedness = 'reverse'   // default is reverse for Illumina TruSeq (possible values are reverse, forward or unstranded)

  // Cutadapt
  clip_forward_adapter = 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
  clip_reverse_adapter = 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'

  // Alignment
  aligner = 'star'
  skipAlignment = false
  genomeSAindexNbases = 14  // default setting for STAR 2.7.5a

  // htseq
  htseqmode = 'intersection-nonempty'  // default is that used by GDC RNAseq pipeline (other options are: union, intersection-strict)

  // sortmerna
  sortmerna_database_manifest = "${projectDir}/assets/sortmerna_database_manifest.txt"

  // tilscore
  tilscorescript = "${projectDir}/bin/ensembl_htseq_to_TILscore.R"
  symbollengthfile = "${projectDir}/assets/Gene_lengths_GRCh38_gencode_v38_Symbol.tsv"
  tilscorefile = "${projectDir}/assets/s_tilscore_265.csv"

  // Skip steps
  skip_fastqc = false
  skip_cutadapt = false
  skip_rseqc = false
  skip_star = false
  skip_htseq = false
  skip_multiqc = false
  skip_sortmerna = false
  skip_tilscore = false

  // Defaults but expected to be overridden by user. These values match HTC resources
  max_memory = 120.GB
  max_cpus = 16
  max_time = 144.h
}

process {
  withLabel: fastqc {
    cpus   = 4
    //memory = 32.GB
    time   = 1.h
  }
  withName: multiqc {
    cpus   = 4
    //memory = 32.GB
    time   = 1.h
  }
  withName: cutadapt {
    cpus = Math.min(8, params.max_cpus)
    //memory = 64.GB
    time = 12.h
  }
  withName: htseq {
    cpus = Math.min(8, params.max_cpus)
    //memory = 64.GB
    time = 24.h
  }
  withName: star_index {
    cpus = Math.min(12, params.max_cpus)
    //memory = 96.GB
    time = 24.h
  }
  withName: star {
    cpus = Math.min(12, params.max_cpus)
    //memory = 96.GB
    time = 24.h
  }
  withName: sortmerna {
    cpus = Math.min(8, params.max_cpus)
    time = 24.h
  }

}

profiles {
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
}


report {
  enabled = true
  file = "${params.pipeline_info}/report.html"
}
timeline {
  enabled = true
  file = "${params.pipeline_info}/timeline.html"
}
trace {
  enabled = true
  file = "${params.pipeline_info}/trace.txt"
}
dag {
  enabled = true
  file = "${params.pipeline_info}/flowchart.dot"
  // file = "${params.pipeline_info}/flowchart.png" //requires graphviz for rendering
}

manifest {
  name = 'uclab/rnaseq'
  author = 'Paul Cantalupo'
  description = 'RNASeq analysis pipeline'
  mainScript = 'main.nf'
  version = '1.0.1'
}

